.nav-bg { 
    background: #27374D;
}

#nav-collapse .nav-link {
    padding: 0.5em;
    color: white;
    text-decoration: none;
}

#nav-collapse .nav-link:hover {
    background-color: #526D82;
}

.custom-nav-dropdown .dropdown-menu{
    border-radius: 0;
    padding: 0;
    padding-top: 0.2rem;
    border-color: #526D82;
    background-color: #27374D;
}

.custom-nav-dropdown .dropdown-item{
    padding: 0.75rem;
    background-color: #27374D !important;
}

.custom-nav-dropdown .dropdown-item .txt-wrap {
    max-width: 12rem;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-nav-dropdown .dropdown-toggle{
    display: flex;
    align-items: center;
}

.custom-nav-dropdown .dropdown-item .bt-link{
    padding-right: 5rem;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 0;
    border-color: #27374D;
    background-color: #27374D;
} 

.custom-nav-dropdown .dropdown-item .bt-link:hover{
    width: 100%;
    background-color: #526D82;
} 

.custom-nav-dropdown .dropdown-item .bt-link .icon-m{
    margin-right: 0.4rem;
}

.over-scroll{
    overflow: auto;
}


@media screen and (max-width: 992px) {
    #nav-collapse .nav-link {
        margin-top: 1em;
        margin-bottom: 0.1em;
    }
    #nav-collapse .nav-search {
        margin-top: 1em;
    }
    #nav-tog{
        background-color: #526D82;
    }
    .custom-nav-dropdown .dropdown-item .txt-wrap {
        max-width: 20rem;
    }
}
