.nav-bg { 
    background: #27374D;
}

#nav-collapse .nav-link {
    padding: 0.5em;
    color: white;
    text-decoration: none;
}

#nav-collapse .nav-link:hover {
    background-color: #526D82;
}



@media screen and (max-width: 992px) {
    #nav-collapse .nav-link {
        margin-top: 1em;
        margin-bottom: 0.1em;
    }
    #nav-tog{
        background-color: #526D82;
    }
}
