.nav-bg { 
    background: #27374D;
}

.nav-bg .nav-con .nav-logo {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    margin-right: 75%;
}

.nav-bg .nav-con .nav-tog {
    background-color: #526D82;
    
}

@media screen and (max-width: 992px) {
    .nav-bg {
        padding-bottom: 1em;
    }
    #nav-active a.active {
        color: white;
        background-color: #526D82;
    }
    #basic-navbar-nav .nv-link .link:hover {
      background-color: transparent;
      color: gray;
    }
    .nav-bg .nav-con .nav-logo {
        margin-right: 0vh;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
  }
